.header {
    height: 100px;
    background-color: rgba(16, 16, 29, .9);

    &__wrap {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-family: Raleway, sans-serif;
        font-size: 2.8rem;
        font-weight: 800;
    }

    &__logo--white {
        color: #FFFFFF;
    }

    &__logo--blue {
        color: #43ABF0;
    }
}

.menu {
    display: flex;
    gap: 60px;

    &__item {
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        line-height: 15.6px;
        text-decoration: none;
        color: #FFFFFF;

        &--emphasized {
            color: #43ABF0;
        }
    }
}


@media screen and (max-width: $xsmall) {
    .header {
        height: auto;
        min-height: 100px;
        padding-bottom: 20px;
        
        
        &__wrap {
            flex-direction: column;
            gap: 20px;
        }

        &__logo {
            padding-top: 20px;
        }
    }

    .menu {
        flex-direction: column;
        gap: 30px;
        justify-content: space-around;

        &__item {
            text-align: center;
        }
    }
}

