<div class="banner">
    <div class="container horizontal start">
        <div class="banner__box">
            <h1 class="banner__text"><span class="banner__text--accent">Lorem ipsum</span> dolor sit amet
                consectetur <span class="banner__text--accent">adipiscing</span></h1>
            <div class="properties">
                <p class="properties__title">At vero eos et accusamus et iusto odio dignissimos ducimus!</p>
                <ul class="properties__list">
                    <li class="properties__item">- Totam rem aperiam eaque ipsa</li>
                    <li class="properties__item">- Sit voluptatem accusantium doloremque laudantium</li>
                    <li class="properties__item">- Sed ut perspiciatis, unde omnis iste natus error</li>
                </ul>
            </div>
            <div class="btn-box">
                <button class="btn btn--blue btn--sm">заказать</button><button type="button" class="btn btn--white btn--sm">подробнее</button>
            </div>
        </div>
    </div>
</div>