<div class="top">
    <header class="header">
        <div class="container header__wrap horizontal center">
            <div class="header__logo">
                <span class="header__logo--white">LOREMIPSUM.</span><span class="header__logo--blue">NET</span>
            </div>
            <nav class="menu">
                <a href="#" class="menu__item menu__item--emphasized">БИЗНЕС</a>
                <a href="#" class="menu__item">О НАС</a>
                <a href="#" class="menu__item">ЦЕНЫ</a>
                <a href="#" class="menu__item">ОФОРМИТЬ ЗАКАЗ</a>
            </nav>
        </div>
    </header>
    <!-- Banner -->
    {{> banner }}
</div>
